*{
    margin: 0;
    padding: 0;
    font-family:'popins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
   
    
}
.quiz{
    background: rgb(228, 95, 95);
    color: aliceblue;
    
    height: 500px;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 50px;

}
.quiz h2{
    font-weight: bold;
    font-style:bold ;
    color: aquamarine;
    font-weight: 600;
    border-bottom: 1px solid black;
    border-radius: 10px;   
}
.quiz h2:hover{
    font-size: 30px;
    color: rgb(223, 49, 22);
    transition: all 0.3s;
}
#answer{
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}
.button{
    background: rgb(170, 246, 72);
    color: rgb(40, 176, 176);
    font-weight: 600;
    width: 100%;
    border: 1px solid black;
    padding: 10%;
    margin: 10px;
    text-align: left;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.button:hover {
    color: blue;
    font-size: 22px;
}
#nextbutton{
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
   
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
}
#nextbutton:hover{
    font-size: 28px;
    background-color: aliceblue;
    color: red;
    transition: all0.3s;

}



    